#!/bin/bash
set -x 

yes | ufw reset 
ufw default deny incoming
ufw default allow outgoing
ufw allow 22/tcp   # ssh
ufw allow 80/tcp
ufw allow 443/tcp

yes | ufw enable
